  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>六角血拼賣賣</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="all.css">
  </head>
  
  <body>
    <div class="app">
        <nav class="navbar navbar-light bg-light ">
            <a class="navbar-brand" href="index.html"><i class="fa fa-heart text-info" aria-hidden="true"></i> 六角血拼賣賣</a>
            <div class="dropdown ml-auto">                
                <button class="btn btn-sm btn-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart text-dark fa-2x " aria-hidden="true"></i>
                    <span class="badge badge-pill badge-danger">{{shopcartsCount}}</span>
                </button>                
                <div class="dropdown-menu dropdown-menu-right" style="min-width:300px;">
                    <div class="px-4 py-3">
                        <h6>已選擇商品：</h6>
                        <div v-if="shopcartsCount>0">
                            <table class="table table-sm">
                                <tbody>
                                <tr v-for="shopcart in shopcarts" >
                                    <td class="align-middle text-center">
                                    <a href="#removeModal"  class="text-muted" data-toggle="modal" v-on:click="shopmodal=shopcart">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                    </td>
                                    <td class="align-middle">{{shopcart.title}}({{shopcart.size}})</td>
                                    <td class="align-middle">{{shopcart.num}} 件</td>
                                    <td class="align-middle text-right">${{shopcart.num*shopcart.price}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="shoppingCart-checkout.html" class="btn btn-info btn-block">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 結帳去
                            </a>
                        </div>
                        <div v-else="shopcartsCount<=0"><hr>目前購物車沒東西</div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid jumbotron-bg d-flex align-items-end">
            <div class="container">
                <div class="bg-lighter p-3">
                    <h1 class="display-3">買到吃手手</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 mb-4" v-for="datacart in datacarts">
                            <div class="card border-0 text-center h-100 box-shadow">
                                <img class="card-img-top" v-bind:src="datacart.img_url" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{datacart.title}}</h4>
                                    <p class="card-text">{{datacart.body}}</p>
                                </div>
                                <div class="card-footer border-top-0 bg-white">
                                     <div class="btn-group btn-group-sm">
                                        <a href="#addModal" data-toggle="modal" class="btn btn-outline-secondary" v-for="size in datacart.size" v-on:click="addShopCart(datacart,size)">{{size}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">加入購物車</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="title">產品名稱</label>
                                    <div id="title" class="text-info" style="font-size:24px">{{addshopmodal.title}}</div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="size">尺寸</label>
                                    <div id="size" class="text-info" style="font-size:24px">{{addshopmodal.selectsize}}</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="price">價格</label>
                                    <div id="price" class="text-info" style="font-size:24px">${{addshopmodal.price}}元</div>
                                </div>                               

                                <div class="form-group col-md-12">
                                    <label for="num">數量</label>
                                    <select id="num" class="form-control" v-model="addshopmodal.selectnum">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" @click="addCart()" data-dismiss="modal">加入</button>
                    </div>                    
                </div>
            </div>
        </div>



        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    確認刪除資料？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="checkCart()" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline-danger" @click="removeCart()" data-dismiss="modal">刪除</button>
                </div>
                </div>
            </div>
        </div>

    </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <script src="all.js"></script>

  </body>
  
  </html>
  